@media screen and (min-width: 768px) {

  .banner-wrap-Mobile {
    display: none;
  }

  .pc {

    .DeFi-image--mobile {
      display: none;
    }

    .web-title {
      font-size: 34px;
      font-weight: normal;
      color: rgba(36, 42, 71, 1);
    }

    .warp {
      width: 100%;
      // background-color: red;

      .learn-more-wrap {
        width: 130px;
        height: 40px;
        border: 1px solid #FA9B00;
        border-radius: 20px;
        margin-top: 10px;

        a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 38px;
          color: #FA9B00;
        }
      }

      .learn-more-wrap--coming {
        border: 1px solid #AFACAC;

        a {
          color: #AFACAC;
        }
      }

      .companion {
        margin-top: 140px;
        margin-bottom: 50px;
      }

      .protocols {
        margin-bottom: 40px;
      }

      .mb100 {
        margin-bottom: 100px;
      }

      .banner-wrap {
        width: 100%;
        border-bottom: 1px solid #F8F8F8;
        padding-bottom: 100px;
        margin-bottom: 100px;
        position: relative;

        .banner-bg {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: -1;
          // background: red;
          top: 0;
        }

        .banner {
          width: 1200px;
          margin: 0 auto;
          // background-color: goldenrod;
          display: flex;

          .banner-slogan {
            width: 780px;

            h1 {
              width: 780px;
              // background-color: goldenrod;
              font-size: 44px;
              font-weight: normal;
              color: rgba(36, 42, 71, 1);
              line-height: 60px;
              margin-bottom: 40px;
              padding-top: 90px;
            }

            .banner-content {
              width: 588px;
              font-size: 18px;
              color: #555555;
              line-height: 36px;
              position: relative;
              padding-left: 30px;

              &::after {
                position: absolute;
                content: '';
                width: 4px;
                height: 82%;
                background-color: #FA9B00;
                left: 0;
                top: 10px;
              }
            }

            .btn-wrap {
              display: flex;
              padding-top: 84px;

              .btn-usdx {
                width: 186px;
                text-align: center;
                height: 60px;
                line-height: 60px;
                background: rgba(250, 155, 0, 1);
                box-shadow: 0px 30px 40px 0px rgba(41, 42, 47, 0.1);
                border-radius: 36px;
                font-size: 20px;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                margin-right: 20px;
                cursor: pointer;
              }

              .btn-paper {
                width: 186px;
                text-align: center;
                height: 60px;
                line-height: 60px;
                background: rgba(255, 255, 255, 0.14);
                border-radius: 36px;
                border: 1px solid rgba(250, 155, 0, 1);
                font-size: 20px;
                font-weight: 400;
                color: rgba(250, 155, 0, 1);
                cursor: pointer;
              }
            }
          }

          .banner-image {
            flex: 1;
            // background-color: green;

            i {
              width: 507px;
              height: 466px;
              position: relative;
            }

            svg {
              width: 507px;
              height: 466px;
              position: absolute;
              left: 80px;
            }
          }
        }
      }

      .DeFi {
        width: 1200px;
        margin: 0 auto;
        // background-color: goldenrod;
        display: flex;
        justify-content: space-between;
        margin-bottom: 175px;

        .DeFi-image {
          width: 440px;
          height: 442px;

          i,
          svg {
            width: 100%;
            height: 100%;
          }
        }

        .DeFi-content {
          width: 548px;
          padding-top: 90px;

          .web-title {
            line-height: 44px;
          }


          .DeFi-content-con {
            font-size: 18px;
            color: #555555;
            line-height: 36px;
            margin-top: 26px;
            margin-bottom: 40px;
          }

          .DeFi-content-parts {
            display: flex;
            justify-content: space-between;

            .part {
              width: 146px;
              text-align-last: center;
              height: 46px;
              background: rgba(252, 240, 225, 1);
              opacity: 0.7;
              font-size: 14px;
              font-weight: 600;
              color: rgba(250, 155, 0, 1);
              line-height: 46px;
            }
          }
        }
      }

      .liquidity-mining {
        width: 1200px;
        margin: 0 auto;
        // background-color: goldenrod;
        margin-bottom: 150px;

        .liquidity-mining-wrap {
          display: flex;

          .liquidity-mining-content {
            width: 567px;
            font-size: 18px;
            color: #555555;
            line-height: 36px;
            padding-right: 95px;
            padding-top: 40px;
          }

          .liquidity-mining-logo {
            flex: 1;
            display: flex;
            justify-content: space-between;
            // background-color: red;

            .item {
              // flex: 1;
              text-align: center;

              .item-logo {
                width: 100%;

                i {
                  width: 100%;
                  text-align: center;
                }

                svg {
                  width: 125px;
                  height: 63px;
                }
              }

              .item-title {
                font-size: 16px;
                font-weight: 500;
                color: #555555;
                // line-height: 19px;
                margin-top: 30px;
              }
            }
          }
        }
      }

      .Security {
        display: block;

        .Security-content {
          padding-top: 30px;
          font-size: 18px;
          color: #5C5F6F;
        }

        .Security-wrap {
          display: flex;
          padding-top: 20px;

          .Security-item {
            flex: 1;
            // background: #FBFBFB;
            // border: 1px solid red;
            border-bottom: 1px solid #F2F2F2;
            margin-right: 15px;
            height: 150px;
            position: relative;
            cursor: pointer;
            overflow: hidden;

            &:last-child {
              margin-right: 0;
            }

            .item-title {
              // padding-top: 30px;
              text-align: center;
              font-size: 16px;
              font-weight: 500;
              color: #242A47;
              margin-bottom: 15px;
            }

            .item-img-wrap:hover {
              &::after {
                display: block;
              }
            }

            .item-img-wrap {
              border: 1px solid #F2F2F2;
              position: relative;
              height: 100%;

              &::after {
                position: absolute;
                content: '';
                width: 4px;
                height: 100%;
                left: 0;
                top: 0;
                background: #FA9B00;
                display: none;
              }

              .item-img {
                // background: red;
                margin-top: 15px;


                i {
                  // display: block;
                  margin: 0 auto;
                  width: 180px;
                  height: 40px;
                }
              }

            }

            .wrap-spe {
              padding-top: 30px;
            }


          }
        }
      }

      .asset-protocols {
        width: 1200px;
        margin: 0 auto;
        // background-color: goldenrod;
        margin-bottom: 100px;

        .asset-protocols-items {
          display: flex;
          margin-top: 30px;

          .item {
            flex: 1;
            margin-right: 18px;
            // width:388px;
            // height: 446px;
            background: linear-gradient(180deg, rgba(252, 244, 234, 1) 0%, rgba(255, 255, 255, 1) 100%);
            border-radius: 14px;
            padding: 0 30px;
            padding-top: 30px;
            position: relative;
            // background: red;
            padding-bottom: 50px;

            .item-title {
              font-size: 27px;
              font-weight: normal;
              color: rgba(250, 155, 0, 1);
            }

            .item-title-plus {
              font-size: 18px;
              font-weight: 500;
              color: rgba(36, 42, 71, 1);
              height: 80px;
              // background-color: goldenrod;
              line-height: 26px;
              padding-top: 20px;
            }

            .item-content {
              font-size: 16px;
              color: #555555;
              line-height: 34px;
            }

            .learn-more-wrap {
              margin-top: 0;
              position: absolute;
              bottom: 0;
            }
          }

          .item:nth-child(3) {
            margin-right: 0;
          }
        }
      }

      .lending-liquidity-wrap {
        width: 100%;
        background-color: #F8F8F8;
        padding-top: 100px;
        padding-bottom: 100px;

        .lending-liquidity {
          width: 1200px;
          margin: 0 auto;
          // background-color: goldenrod;

          .lending-liquidity-items {
            display: flex;

            .item {
              flex: 1;
              // background-color: goldenrod;

              .item-top {
                display: flex;

                .item-top-logo {
                  padding-top: 8px;

                  svg {
                    width: 101px;
                    height: 54px;
                  }
                }

                .item-top-titles {

                  .item-top-titles-tit {
                    font-size: 27px;
                    font-weight: normal;
                    color: rgba(36, 42, 71, 1);
                  }

                  .item-top-titles-tit-plus {
                    font-size: 18px;
                    color: #555555;
                    line-height: 44px;
                  }
                }
              }

              .item-bottom {
                font-size: 16px;
                color: #555555;
                line-height: 32px;
                margin-top: 10px;
                // background: red;
                padding-left: 101px;
              }
            }

            .item:nth-child(1) {
              margin-right: 59px;
              // background-color: red;
            }
          }
        }
      }

      .our-companion {
        width: 1200px;
        margin: 0 auto;
        // background-color: goldenrod;

        .type-logo-item {
          display: flex;

          .type-item {
            font-size: 18px;
            font-weight: normal;
            color: #555555;
            flex: 1;
            line-height: 80px;
          }

          .logo-item {
            display: flex;
            width: 998px;
            flex-wrap: wrap;
            // background-color: goldenrod;
            margin-bottom: 12px;

            .logo-wrap {
              // border: 1px dashed #333;
              margin-right: 12px;
              width: 190px;
              height: 80px;
              flex: none;
              margin-bottom: 12px;

              i,
              svg {
                width: 100%;
                height: 100%;
              }
            }

            .logo-wrap:hover {
              background-color: #FAFAFA;
            }

            .logo-wrap:nth-child(5n) {
              margin-right: 0;
            }
          }
        }
      }


    }
  }
}

@media screen and (max-width: 767px) {

  .mob-mb15 {
    margin-bottom: 15px;
  }

  .mb35-mob {
    margin-bottom: 35px;
  }

  .learn-more-wrap {
    width: 90px;
    height: 28px;
    border: 1px solid #FA9B00;
    border-radius: 20px;
    margin-top: 10px;

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 26px;
      color: #FA9B00;
      font-size: 11px;
    }
  }

  .learn-more-wrap--coming {
    border: 1px solid #AFACAC;

    a {
      color: #AFACAC;
    }
  }

  .banner-wrap-Mobile {
    padding-top: 30px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    // border-bottom: 1px solid #F8F8F8;
    margin-bottom: 20px;
    // padding-bottom: 30px;

    .banner {
      border-bottom: 1px solid #F8F8F8;
      padding-bottom: 30px;

      h1 {
        font-size: 20px;
        font-weight: normal;
        color: rgba(36, 42, 71, 1);
        line-height: 26px;
        // margin-bottom: 40px;
      }

      .banner-slogan-wrap {
        display: flex;
      }

      .banner-slogan {
        flex: 1;

        // background-color: wheat;

        .banner-content {
          width: 100%;
          font-size: 12px;
          color: #555555;
          line-height: 20px;
          position: relative;
          padding-left: 10px;
          // background-color: goldenrod;
          margin-top: 16px;

          &::after {
            position: absolute;
            content: '';
            width: 3px;
            height: 78%;
            background-color: #FA9B00;
            left: 0;
            top: 8px;
          }
        }

        .btn-wrap {
          display: flex;
          padding-top: 14px;

          .btn-usdx {
            width: 93px;
            text-align: center;
            height: 27px;
            line-height: 27px;
            background: rgba(250, 155, 0, 1);
            box-shadow: 0px 30px 40px 0px rgba(41, 42, 47, 0.1);
            border-radius: 13px;
            font-size: 12px;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            margin-right: 10px;
            cursor: pointer;
          }

          .btn-paper {
            width: 93px;
            text-align: center;
            height: 27px;
            line-height: 27px;
            background: rgba(255, 255, 255, 0.14);
            border-radius: 36px;
            border: 1px solid rgba(250, 155, 0, 1);
            font-size: 12px;
            font-weight: 400;
            color: rgba(250, 155, 0, 1);
            cursor: pointer;
          }
        }
      }

      .banner-image {
        width: 150px;
      }
    }
  }

  .banner-wrap-pc {
    display: none;
  }

  .web-title {
    font-size: 20px;
    font-weight: normal;
    color: rgba(36, 42, 71, 1);
  }

  .center {
    width: 100%;
    text-align: center;
  }

  .banner-wrap {
    width: 100%;
    padding-bottom: 100px;
    margin-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;

    .banner {
      border-bottom: 1px solid #F8F8F8;
      width: 100%;
      // display: flex;

      .banner-image {
        flex: 1;
        // background-color: green;

        i {
          width: 507px;
          height: 466px;
          position: relative;
        }

        svg {
          width: 507px;
          height: 466px;
          position: absolute;
          left: 100px;
        }
      }
    }
  }

  .DeFi {
    width: 100%;
    // background-color: goldenrod;
    margin-bottom: 30px;
    position: relative;
    padding: 0 15px;

    .web-title {
      line-height: 28px;
    }

    .DeFi-image {
      // position: absolute;
      display: none;

      i,
      svg {
        width: 100%;
        height: 100%;
      }
    }

    .DeFi-image--mobile {
      // background-color: goldenrod;

      i,
      svg {
        width: 100%;
        height: 100%;
      }
    }

    .DeFi-content {
      // width: 548px;
      // background-color: goldenrod;

      .DeFi-content-con {
        font-size: 13px;
        color: #555555;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 16px;
      }

      .DeFi-content-parts {
        // display: flex;
        // justify-content: space-between;

        .part {
          width: 125px;
          text-align: center;
          height: 35px;
          background: rgba(252, 240, 225, 1);
          opacity: 0.7;
          font-size: 11px;
          font-weight: 600;
          color: rgba(250, 155, 0, 1);
          line-height: 35px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .liquidity-mining {
    width: 100%;
    // background-color: goldenrod;
    margin-bottom: 60px;
    padding: 0 15px;

    .liquidity-mining-wrap {
      // display: flex;

      .liquidity-mining-content {
        // width: 567px;
        font-size: 13px;
        color: #555555;
        line-height: 20px;
        // padding-right: 95px;
        padding-top: 10px;
      }

      .liquidity-mining-logo {
        margin-top: 20px;
        // flex: 1;
        display: flex;
        justify-content: space-between;

        .item {
          flex: 1;

          .item-logo {
            width: 100%;

            i {
              width: 100%;
              text-align: center;
            }

            svg {
              width: 62px;
              height: 32px;
            }
          }

          .item-title {
            font-size: 11px;
            font-weight: 500;
            color: #555555;
            // line-height: 19px;
            margin-top: 10px;
            text-align: center;
          }
        }
      }
    }
  }

  .Security {
    display: block;

    .Security-content {
      padding-top: 15px;
      font-size: 13px;
      color: #5C5F6F;
    }

    .Security-wrap {
      display: flex;
      padding-top: 10px;
      flex-wrap: wrap;

      .Security-item {
        // flex: 0.5;
        width: 48%;
        // background: #FBFBFB;
        margin-right: 4%;
        height: 155px;
        margin-bottom: 15px;
        // border: 1px solid red;
        border-bottom: 1px solid #F2F2F2;
        overflow: hidden;

        &:last-child {
          margin-right: 0;
        }

        .item-title {
          padding-top: 15px;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          color: #242A47;
          margin-bottom: 10px;
        }

        .item-img-wrap {
          border: 1px solid #F2F2F2;
          position: relative;
          height: 100%;

          .item-img {
            // background: red;
            margin-top: 10px;

            i {
              // display: block;
              margin: 0 auto;
              width: 160px;
              height: 40px;
            }
          }
        }

        .wrap-spe {
          padding-top: 27px;
        }
      }

      .Security-item:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .asset-protocols {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    // background-color: goldenrod;
    margin-bottom: 50px;

    .asset-protocols-items {
      // display: flex;
      margin-top: 20px;

      .item {
        // flex: 1;
        // margin-right: 18px;
        // width:388px;
        // height: 446px;
        background: linear-gradient(180deg, rgba(252, 244, 234, 1) 0%, rgba(255, 255, 255, 1) 100%);
        border-radius: 7px;
        padding: 15px;
        // padding-top: 10px;
        margin-bottom: 10px;
        // margin-left: 15px;
        // margin-right: 15px;

        .item-title {
          font-size: 17px;
          font-weight: normal;
          color: rgba(250, 155, 0, 1);
        }

        .item-title-plus {
          font-size: 14px;
          font-weight: 500;
          color: rgba(36, 42, 71, 1);
          // height: 30px;
          // background-color: goldenrod;
          line-height: 20px;
          margin-top: 6px;
          padding-bottom: 10px;
        }

        .item-content {
          font-size: 12px;
          color: #555555;
          line-height: 20px;
        }
      }

      .item:nth-child(3) {
        margin-right: 0;
      }
    }
  }

  .lending-liquidity-wrap {
    width: 100%;
    background-color: #F8F8F8;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 30px;

    .lending-liquidity {
      width: 100%;

      .lending-liquidity-items {
        // display: flex;

        .item {
          // flex: 1;
          width: 100%;
          // background-color: goldenrod;

          .item-top {
            display: flex;

            .item-top-logo {
              padding-top: 8px;
              padding-left: 15px;

              svg {
                width: 50px;
                height: 27px;
              }
            }

            .item-top-titles {
              // background-color: gray;

              .item-top-titles-tit {
                font-size: 15px;
                font-weight: normal;
                color: rgba(36, 42, 71, 1);
              }

              .item-top-titles-tit-plus {
                font-size: 13px;
                color: #555555;
                line-height: 20px;
                margin-top: 5px;
                padding-right: 30px;
              }
            }
          }

          .item-bottom {
            font-size: 12px;
            color: #555555;
            line-height: 20px;
            margin-top: 6px;
            padding-left: 65px;
            margin-bottom: 20px;
            padding-right: 30px;
          }
        }

        .item:nth-child(1) {
          margin-right: 59px;
          // background-color: red;
        }
      }
    }
  }

  .our-companion {
    // width: 750px;
    width: 100%;
    // background-color: goldenrod;

    .type-logo-item {
      // display: flex;
      // background-color: goldenrod;

      .type-item {
        font-size: 13px;
        font-weight: normal;
        color: #555555;
        line-height: 40px;
        padding-left: 15px;
      }

      .logo-item {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        // background-color: goldenrod;
        margin-bottom: 12px;
        padding-left: 32px;

        .logo-wrap {
          // border: 1px dashed #333;
          margin-right: 12px;
          width: 95px;
          height: 40px;
          flex: none;
          margin-bottom: 12px;

          i,
          svg {
            width: 100%;
            height: 100%;
          }
        }

        .logo-wrap:hover {
          background-color: #FAFAFA;
        }

        .logo-wrap:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
  .banner-wrap-Mobile {
    display: none;
  }

  .pc {

    .DeFi-image--mobile {
      display: none;
    }

    .web-title {
      font-size: 34px;
      font-weight: normal;
      color: rgba(36, 42, 71, 1);
    }



    .warp {
      width: 100%;
      // background-color: red;

      .learn-more-wrap {
        width: 130px;
        height: 40px;
        border: 1px solid #FA9B00;
        border-radius: 20px;
        margin-top: 10px;

        a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 38px;
          color: #FA9B00;
        }
      }

      .learn-more-wrap--coming {
        border: 1px solid #AFACAC;

        a {
          color: #AFACAC;
        }
      }

      .companion {
        margin-top: 140px;
        margin-bottom: 50px;
      }

      .protocols {
        margin-bottom: 40px;
      }

      .mb100 {
        margin-bottom: 100px;
      }

      .banner-wrap {
        width: 100%;
        border-bottom: 1px solid #F8F8F8;
        padding-bottom: 100px;
        margin-bottom: 100px;

        .banner {
          width: 1080px;
          margin: 0 auto;
          // background-color: goldenrod;
          display: flex;

          .banner-slogan {
            width: 980px;
            // background-color: red;

            h1 {
              font-size: 44px;
              font-weight: normal;
              color: rgba(36, 42, 71, 1);
              line-height: 60px;
              margin-bottom: 40px;
              padding-top: 90px;
              // background-color: goldenrod;
            }

            .banner-content {
              width: 588px;
              font-size: 18px;
              color: #555555;
              line-height: 36px;
              position: relative;
              padding-left: 30px;
              // background-color: goldenrod;

              &::after {
                position: absolute;
                content: '';
                width: 4px;
                height: 82%;
                background-color: #FA9B00;
                left: 0;
                top: 10px;
              }
            }

            .btn-wrap {
              display: flex;
              padding-top: 84px;

              .btn-usdx {
                width: 186px;
                text-align: center;
                height: 60px;
                line-height: 60px;
                background: rgba(250, 155, 0, 1);
                box-shadow: 0px 30px 40px 0px rgba(41, 42, 47, 0.1);
                border-radius: 36px;
                font-size: 20px;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                margin-right: 20px;
                cursor: pointer;
              }

              .btn-paper {
                width: 186px;
                text-align: center;
                height: 60px;
                line-height: 60px;
                background: rgba(255, 255, 255, 0.14);
                border-radius: 36px;
                border: 1px solid rgba(250, 155, 0, 1);
                font-size: 20px;
                font-weight: 400;
                color: rgba(250, 155, 0, 1);
                cursor: pointer;
              }
            }
          }

          .banner-image {
            flex: 1;
            // background-color: green;

            i {
              width: 356px;
              height: 419px;
              position: relative;
            }

            svg {
              width: 507px;
              height: 466px;
              position: absolute;
              left: -100px;
            }
          }
        }
      }

      .DeFi {
        width: 1080px;
        margin: 0 auto;
        // background-color: goldenrod;
        display: flex;
        justify-content: space-between;
        margin-bottom: 155px;

        .DeFi-image {
          width: 400px;
          height: 400px;

          i,
          svg {
            width: 100%;
            height: 100%;
          }
        }

        .DeFi-content {
          width: 548px;
          padding-top: 90px;

          .web-title {
            line-height: 44px;
          }


          .DeFi-content-con {
            font-size: 18px;
            color: #555555;
            line-height: 36px;
            margin-top: 26px;
            margin-bottom: 40px;
          }

          .DeFi-content-parts {
            display: flex;
            justify-content: space-between;

            .part {
              width: 146px;
              text-align-last: center;
              height: 46px;
              background: rgba(252, 240, 225, 1);
              opacity: 0.7;
              font-size: 14px;
              font-weight: 600;
              color: rgba(250, 155, 0, 1);
              line-height: 46px;
            }
          }
        }
      }

      .liquidity-mining {
        width: 1080px;
        margin: 0 auto;
        // background-color: goldenrod;
        margin-bottom: 150px;

        .liquidity-mining-wrap {
          display: flex;

          .liquidity-mining-content {
            width: 567px;
            font-size: 18px;
            color: #555555;
            line-height: 36px;
            padding-right: 95px;
            padding-top: 40px;
          }

          .liquidity-mining-logo {
            flex: 1;
            display: flex;
            justify-content: space-between;
            // background-color: red;

            .item {
              // flex: 1;
              text-align: center;

              .item-logo {
                width: 100%;

                i {
                  width: 100%;
                  text-align: center;
                }

                svg {
                  width: 125px;
                  height: 63px;
                }
              }

              .item-title {
                font-size: 16px;
                font-weight: 500;
                color: #555555;
                // line-height: 19px;
                margin-top: 30px;
              }
            }
          }
        }
      }

      .asset-protocols {
        width: 1080px;
        margin: 0 auto;
        // background-color: goldenrod;
        margin-bottom: 90px;

        .asset-protocols-items {
          display: flex;
          margin-top: 30px;

          .item {
            flex: 1;
            margin-right: 18px;
            // width:388px;
            // height: 446px;
            background: linear-gradient(180deg, rgba(252, 244, 234, 1) 0%, rgba(255, 255, 255, 1) 100%);
            border-radius: 14px;
            padding: 0 30px;
            padding-top: 30px;
            position: relative;
            // background: red;
            padding-bottom: 50px;

            .item-title {
              font-size: 27px;
              font-weight: normal;
              color: rgba(250, 155, 0, 1);
            }

            .item-title-plus {
              font-size: 18px;
              font-weight: 500;
              color: rgba(36, 42, 71, 1);
              height: 80px;
              // background-color: goldenrod;
              line-height: 26px;
              padding-top: 20px;
            }

            .item-content {
              font-size: 16px;
              color: #555555;
              line-height: 34px;
            }

            .learn-more-wrap {
              margin-top: 0;
              position: absolute;
              bottom: 0;
            }
          }

          .item:nth-child(3) {
            margin-right: 0;
          }
        }
      }

      .lending-liquidity-wrap {
        width: 100%;
        background-color: #F8F8F8;
        padding-top: 90px;
        padding-bottom: 90px;
        // background: goldenrod;

        .lending-liquidity {
          width: 1080px;
          margin: 0 auto;
          // background: goldenrod;

          .lending-liquidity-items {
            display: flex;

            .item {
              flex: 1;
              // background-color: goldenrod;

              .item-top {
                display: flex;

                .item-top-logo {
                  padding-top: 8px;

                  svg {
                    width: 101px;
                    height: 54px;
                  }
                }

                .item-top-titles {

                  .item-top-titles-tit {
                    font-size: 27px;
                    font-weight: normal;
                    color: rgba(36, 42, 71, 1);
                  }

                  .item-top-titles-tit-plus {
                    font-size: 18px;
                    color: #555555;
                    line-height: 44px;
                  }
                }
              }

              .item-bottom {
                font-size: 16px;
                color: #555555;
                line-height: 32px;
                margin-top: 10px;
                // background: red;
                padding-left: 101px;
              }
            }

            .item:nth-child(1) {
              margin-right: 59px;
              // background-color: red;
            }
          }
        }
      }

      .our-companion {
        width: 1080px;
        margin: 0 auto;
        // background-color: goldenrod;

        .type-logo-item {
          display: flex;

          .type-item {
            font-size: 18px;
            font-weight: normal;
            color: #555555;
            flex: 1;
            line-height: 80px;
          }

          .logo-item {
            display: flex;
            width: 905px;
            flex-wrap: wrap;
            // background-color: goldenrod;
            margin-bottom: 12px;

            .logo-wrap {
              // border: 1px dashed #333;
              margin-right: 12px;
              width: 171px;
              height: 72px;
              flex: none;
              margin-bottom: 12px;

              i,
              svg {
                width: 100%;
                height: 100%;
              }
            }

            .logo-wrap:hover {
              background-color: #FAFAFA;
            }

            .logo-wrap:nth-child(5n) {
              margin-right: 0;
            }
          }
        }
      }


    }
  }
}
