* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: rgba(213, 162, 78, 1);
}

.clear {
    clear: both;
}

.nomargin {
    margin-right: 0 !important;
}

/* **************************   华丽的分割线   ************************** */

div.top {
    width: 100%;
    height: 330px;
    background: url('../images/vote_banner.png') no-repeat 0 0;
    background-size: 100% 100%;
}

div.top_box {
    width: 1200px;
    height: 100%;
    /* background: red; */
    margin: 0 auto;
}

div.top_box .left {
    float: left;
    padding-top: 30px;
}

div.top_box .right {
    float: right;
    padding-top: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.top_box .right .to_connect {
    width: 100px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    background: rgba(213, 162, 78, 1);
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

div.top .top_title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgba(7, 2, 55, 1);
    /* background: red; */
    margin-top: 50px;
    margin-bottom: 30px;
}

div.top .top_details {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 55, 1);
    line-height: 34px;
    /* background: green; */
}

/* **************************   华丽的分割线   ************************** */

div.main {
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}

div.main_left {
    float: left;
    width: 450px;
    padding-top: 45px;
}

div.main_right {
    float: left;
    width: 750px;
    background: pink;
    position: relative;
    background: url('../images/vote_bg.png') no-repeat 0 0;
    background-size: 100% 100%;
    padding: 20px;
    padding: 44px 50px 34px 66px;
}

div.main_right p.details {
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    color: rgba(7, 2, 55, 1);
}

div.main_right p.time {
    float: right;
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 55, 1);
    margin-bottom: 20px;
}

div.main_right div.connect {
    width: 500px;
    text-align: center;
    height: 50px;
    border: 1px solid rgba(213, 162, 78, 1);
    border-radius: 32px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(213, 162, 78, 1);
    margin: 15px auto 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

div.main_right div.text_part {
    font-size: 16px;
    font-weight: 500;
    color: rgba(107, 104, 129, 1);
    height: 40px;
}

div.main_right div.text_part div.t_left {
    float: left;
}

div.main_right div.text_part div.t_right {
    float: right;
}

div.main_left .m_title {
    font-size: 22px;
    font-weight: 500;
    color: rgba(7, 2, 55, 1);
    margin-bottom: 30px;
}

div.main_left .m_choosen {
    font-size: 18px;
    font-weight: 400;
    color: rgba(7, 2, 55, 1);
    margin-bottom: 12px;
}

div.main_left .m_choosen span {
    padding-left: 10px;
}

div.main_left .vote_btn {
    width: 200px;
    text-align: center;
    color: #fff;
    height: 44px;
    line-height: 44px;
    background: rgba(213, 162, 78, 1);
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-top: 30px;
}

div.main_left .m_choosen img {
    width: 16px;
    cursor: pointer;
}

/* **************************   华丽的分割线   ************************** */
div.bottom {
    width: 1200px;
    /* background: green; */
    margin: 0 auto 70px;
}

div.bottom .b_title {
    font-size: 22px;
    font-weight: 500;
    color: rgba(7, 2, 55, 1);
    margin-bottom: 30px;
    margin-top: 50px;
}

div.bottom ul li {
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(107, 104, 129, 1);
    /* background: lemonchiffon; */
    margin-top: 5px;
    position: relative;
    padding-left: 15px;
}

div.bottom ul li::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #9F9DAE;
    position: absolute;
    left: 0px;
    top: 11px;
}

/* **************************   华丽的分割线   ************************** */
.i_am_bili {
    width: 500px;
    height: 50px;
    border-radius: 32px;
    margin: 15px auto 25px;
    background: linear-gradient(0deg, rgba(236, 72, 38, 1), rgba(243, 99, 49, 1));
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.i_am_bili .yes {
    float: left;
    background: linear-gradient(0deg, rgba(57, 108, 249, 1), rgba(60, 139, 244, 1));
    position: relative;
    padding-top: 6px;
    width: 50%;
    height: 100%;
}

.i_am_bili .yes::after {
    content: '';
    display: block;
    width: 6px;
    height: 80px;
    transform: rotate(7deg);
    background: #fff;
    position: absolute;
    right: -2px;
    top: -5px;
}

.i_am_bili .no {
    float: left;
    padding-top: 6px;
    width: 50%;
    height: 100%;
}

.i_am_bili span {
    display: block;
}